<div id="score">
    <iframe width="100%"
            src="https://musescore.com/user/@this.MuseScoreUserId/scores/@this.MuseScoreScoreId/embed"
            frameborder="0"
            allowfullscreen="allowfullscreen"
            allow="autoplay; fullscreen">
    </iframe>
    <span>
        <a href="https://musescore.com/user/@this.MuseScoreUserId/scores/@this.MuseScoreScoreId/s/f85IZm" target="_blank">@this.Title</a> by <a href="https://musescore.com/user/@this.MuseScoreUserId">@this.MuseScoreUserName</a>
    </span>
</div>

@code {
    /// <summary>
    /// Gets or sets the score ID.
    /// </summary>
    [Parameter]
    public string ScoreId { get; set; } = string.Empty;
    
    /// <summary>
    /// Gets or sets the MuseScore user ID.
    /// </summary>
    [Parameter]
    public int MuseScoreUserId { get; set; }
    
    /// <summary>
    /// Gets or sets the MuseScore username.
    /// </summary>
    [Parameter]
    public string MuseScoreUserName { get; set; } = string.Empty;
    
    /// <summary>
    /// Gets or sets the MuseScore score ID.
    /// </summary>
    [Parameter]
    public int MuseScoreScoreId { get; set; }

    /// <summary>
    /// Gets or sets the score title.
    /// </summary>
    [Parameter]
    public string Title { get; set; } = string.Empty;
}