@page "/AI-Usage"

<PortfolioPageTitle Title="AI Usage" />

<MudText GutterBottom="true" Typo="Typo.h3">AI Usage</MudText>

<MudText GutterBottom="true" Typo="Typo.body1">
    In accordance with the <MudLink Href="/Privacy-Policy">Privacy Policy</MudLink> usage of Artificial Intelligence (AI) is outlined below.
</MudText>

<MudText GutterBottom="true" Typo="Typo.h5">AI Functionality</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    There is no interactive AI functionality on the Benedict W. Hazel web site.
</MudText>

<MudText GutterBottom="true" Typo="Typo.h5">AI Usage for Content</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    AI has not been used for generating any content on the Benedict W. Hazel web site.
</MudText>

<MudText GutterBottom="true" Typo="Typo.h5">AI Usage for Development</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    AI has been used during the development of the Benedict W. Hazel web site.
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    <ul class="default-bullet-list ml-6">
        <li><MudText Typo="Typo.body1"><MudLink Href="https://github.com/features/copilot">GitHub Copilot</MudLink> for boilerplate code generation and providing assistance.  All code is reviewed by me prior to publication.</MudText></li>
    </ul>
</MudText>