@page "/Privacy-Policy"

<PortfolioPageTitle Title="Privacy Policy" />

<MudText GutterBottom="true" Typo="Typo.h3">Privacy Policy</MudText>

<MudText GutterBottom="true" Typo="Typo.body1">
    <strong>
        This privacy policy applies to all my personal self-hosted web sites or as stated otherwise.  Sites with specific privacy requirements or data collection have their own sections outlining these at the end of the policy.
    </strong>
</MudText>

<MudText GutterBottom="true" Typo="Typo.h5">Cookies</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    All my personal web sites can use cookies and they are intended purely for the web sites to operate correctly.  The data can contain view state, used by sites to maintain information when moving from one page to another.  I do not collect or share any personal information or use cookies for storing user-specific configurations on the web sites.  As with all web browsers the user can control the use of cookies and can remove them as desired.
</MudText>

<MudText GutterBottom="true" Typo="Typo.h5">Local Storage</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    All my personal web sites can use Local Storage, intended for storing user-specific configuration.  I do not collect or share the data stored and in all sites where Local Storage is used there is always an option to delete the data the site creates and uses.  As with all web browsers the user can control the use of Local Storage and can remove stored data as desired.
</MudText>

<MudText GutterBottom="true" Typo="Typo.h5">Telemetry</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    All my web sites use telemetry to collect information on how they are used and general site health.  The following events will collect telemetry:
</MudText>
<MudChip T="string">Page Load</MudChip>
<MudChip T="string">Open/Close Expandable Section</MudChip>
<MudChip T="string">Change Selection Dropdown Value</MudChip>
<MudChip T="string">Click to Access External Site</MudChip>
<MudChip T="string">Error Page Load</MudChip>
<MudText GutterBottom="true" Typo="Typo.body1" Class="mt-2">
    This is powered by the <MudLink Href="https://learn.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview">Application Insights</MudLink> service (part of <MudLink Href="https://azure.microsoft.com/en-gb/products/monitor/">Azure Monitor</MudLink>) on <MudLink Href="https://azure.microsoft.com/en-gb/">Microsoft Azure</MudLink>. All Application Insights resources are hosted within the UK South region in Microsoft Azure. The data collected are only visible to me as part of my personal Microsoft Azure account and subscription.
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    As part of the telemetry, the following personal information is collected and is retained for 90 days:
</MudText>
<MudSimpleTable Hover="true">
    <thead>
    <tr>
        <th>Data</th>
        <th>Example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Date & Time</td>
        <td>09/01/2025, 22:30:00 (Local Time)</td>
    </tr>
    <tr>
        <td>Device Type & Model</td>
        <td>Browser, Other</td>
    </tr>
    <tr>
        <td>Operating System</td>
        <td>macOS 15.2</td>
    </tr>
    <tr>
        <td>Browser Version</td>
        <td>Safari 18.2</td>
    </tr>
    <tr>
        <td>IP Address</td>
        <td>127.0.0.1</td>
    </tr>
    <tr>
        <td>City, State/Province, Country/Region</td>
        <td>Wimbledon, London, United Kingdom</td>
    </tr>
    </tbody>
</MudSimpleTable>
<MudText GutterBottom="true" Typo="Typo.body1" Class="mt-3">
    Each telemetry event is assigned a session and user ID by Application Insights, however, these are comprised of random numbers, letters and special characters and cannot be used to identify a user personally.
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    I only use these data for the purpose of monitoring how the site is used and do not share it with any other individual or organisation.
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    Please note that I do not collect telemetry from 3<sup>rd</sup> party widgets used on my sites, self-hosted or otherwise, however they may collect their own data.  Please refer to the privacy policies of these providers for more information:
</MudText>
<MudChip T="string">Adobe Behance</MudChip>
<MudChip T="string">Apple Music</MudChip>
<MudChip T="string">Google Maps</MudChip>
<MudChip T="string">MuseScore</MudChip>
<MudChip T="string">SoundCloud</MudChip>
<MudChip T="string">Spotify</MudChip>
<MudChip T="string">Windy.com</MudChip>

<MudText GutterBottom="true" Typo="Typo.h5" Class="mt-2">Authentication & Authorisation</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    <strong>
        This section only applies to sites which require visitors to sign in via authentication and authorisation to access restricted functionality.  This does not apply to those sites if signing in is not required.
    </strong>
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    All authentication and authorisation is managed by <MudLink Href="https://www.microsoft.com/en-gb/security/business/identity-access/microsoft-entra-id">Microsoft Entra ID</MudLink> and all sign in and sign out operations are performed using the processes and user interfaces from Microsoft.
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    Signing into one of my sites requires an existing Microsoft account, either a personal account or a work or school account.  Granting access is a manual process done by me which starts with an invite to the <em>BWHazel Online Services</em> organisation, identified by the URL <em>bwhazel.onmicrosoft.com</em>.  When a visitor accepts this invite his or her Microsoft account is added as a guest user to this organisation.  Granting access to specific sites is also a manual process done by me which can involve adding the guest user to Microsoft Entra ID groups.
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    Adding a Microsoft account as a guest user requires me to know the visitor's name and e-mail address of the Microsoft account.  This information is only used be me to add the user to the <em>BWHazel Online Services</em> organisation and is not shared with any other individual or organisation.  The guest user is not a new account but grants access to the existing Microsoft account.  Said account can be managed in exactly the same way as before, including changing of passwords, without any knowledge by me.  No passwords are stored for guest users in the <em>BWHazel Online Services</em> organisation.
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    By default all sites which use authentication and authorisation have access to the following permissions from a user account via the <MudLink Href="https://learn.microsoft.com/en-us/graph/permissions-reference">Microsoft Graph</MudLink>:
</MudText>
<MudSimpleTable Hover="true">
    <thead>
    <tr>
        <th>Permission</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><em>email</em></td>
        <td>View users' e-mail addresses.</td>
    </tr>
    <tr>
        <td><em>openid</em></td>
        <td>Signs users in using a work or school account and grants an application to see basic user profile information.</td>
    </tr>
    <tr>
        <td><em>profile</em></td>
        <td>Grants an application to see basic profile information (name, picture, username).</td>
    </tr>
    <tr>
        <td><em>User.Read</em></td>
        <td>Signs users in and grants the application to read profile information, including company details.</td>
    </tr>
    </tbody>
</MudSimpleTable>

<MudText GutterBottom="true" Typo="Typo.body1" Class="mt-3">
    Individual sites may require additional permissions and have different uses for user account data.  These are defined for each site as required in sections below.
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    <strong>
        It is the visitor's responsibility to ensure his or her account is properly secured and that it is appropriate for said account to be used, especially if it is not a personal account.  All visitors added as guest users agree to acceptable and respectful use of restricted functionality and must not use them for illegal or inappropriate activities.  I reserve the right to revoke access, temporarily or permanently, to any guest user at any time from any single, multiple or all sites if a visotor fails to comply with these statements.
    </strong>
</MudText>

<MudText GutterBottom="true" Typo="Typo.h5">Artificial Intelligence</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    I am committed to responsible use of Artificial Intelligence (AI) on my web sites.  Each of my web sites will declare its own Artificial Intelligence usage page outlining:
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    <ul class="default-bullet-list ml-6">
        <li><MudText Typo="Typo.body1">Use of AI during the development of the site.</MudText></li>
        <li><MudText Typo="Typo.body1">Where AI has been used to generate static assets and content on the site.</MudText></li>
        <li><MudText Typo="Typo.body1">Where and how AI functionality works.</MudText></li>
        <li><MudText Typo="Typo.body1">How data are used and stored within AI functionality on the site.</MudText></li>
    </ul>
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    For interactive AI functionality, where user input and/or interaction is required, each specific piece of functionality will have its own specific data usage and storage as outlined on the AI usage page on its site.
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    I only use these data for the purpose of monitoring how the AI functionality is being used.  I do not share it with any other individual or organisation.  However, if the data contains evidence of potentially illegal activity then I retain the right to block the concerned visitor(s), temporarily or permanently, and report said activity to local law enforcement.
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    <strong>
        All visitors agree to acceptable and respectful use of AI functionality and must not use them for illegal or inappropriate activities.  All visitors also accept that responses from Artificial Intelligence, including Generative Artificial Intelligence (Gen AI) may contain incorrect information so should double-check responses.  I reserve the right to revoke access, temporarily or permanently, to any visitor at any time from any single, multiple or all sites if a visitor fails to comply with these statements.
    </strong>
</MudText>

<MudText GutterBottom="true" Typo="Typo.h5">Travel Blog</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    <strong>
        The travel blog is hosted by Google Blogger and is therefore covered by the privacy policy of that site.  Please refer to that policy for more information.
    </strong>
</MudText>
<MudText GutterBottom="true" Typo="Typo.body1">
    Any personal information on the travel blog is included with the explicit permission of the individuals concerned for the purpose of posting travel updates.  This information is only intended to be used for posting travel updates and I do not share this information with other individuals or organisations.
</MudText>